<app-header></app-header>
<div class="container-fluid">
  <form #form="ngForm" (submit)="onSearch(form)" class="d-flex align-center logo ">
    <img src="assets/logo.png" class="iconoPrincipal img-fluid" />
    <div style="width: 60%;" class="d-flex justify-content-center align-items-center">
        <mat-card class="input-search">
          <mat-card-title>Search you favorite drink!</mat-card-title>
        <div class="search-form">
          <div class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-3">
            <mat-form-field class="barraBusqueda buscar" appearance="outline">
              <input ngModel name="search" class="searchInput" matInput type="text" placeholder="Search...">
            <span matPrefix>
              <mat-icon class="localDrink">local_drink</mat-icon>
            </span>
           </mat-form-field> 
           <mat-form-field class="barraBusqueda filtro" appearance="outline">
             <mat-select [(value)]="selected" placeholder="Mode"  [(ngModel)]="selected" name="category">
               <mat-option value="name" selected>By name</mat-option>
               <mat-option value="category">By category</mat-option>
               <mat-option value="ingredients">By ingredient</mat-option>
             </mat-select>
           </mat-form-field>
          </div>
        </div> 
        <div class="boton-buscar">
          <button [disabled]="form.value.search==''" style="width: 200px;justify-content: center;" mat-stroked-button class="btn-s mr-2 "
            color="secondary">Search</button>
        </div>
      
      </mat-card>
      </div>   
      <div class="container-fluid">
        <app-videoplayer></app-videoplayer>
      </div>
  </form>
</div>
<app-footer></app-footer>